services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/data

  # rabbitmq-admin:
  #   image: rabbitmq:management

networks:
  my-commerce:

volumes:
  rabbitmq_data: