services:
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/data

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: my-commerce-admin
      POSTGRES_DB: my-commerce-db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
networks:
  my-commerce:

volumes:
  rabbitmq_data:
  pg_data: